.body-bg {
    background-color: #1D3254 !important;

}

.navbar {
background-color: #263A5E !important;

}

.dropdown {
background-color: #D9D9D9;
border-radius: 30px;
}

.airconditionscont, .customCard {
background-color: #79AABE !important;
border-radius: 20px;

}
.splash {
    color: white;
    font-size: 40px;
}

.splash p {
    padding: 0px;
    margin: 0px;
}

.maintemp {
    font-size: 150px;
}

.customCard {
width: 227px !important;
height: 170px !important;
border-radius: 30px !important;
}

.map {
    max-width: 100%;
}

.maingrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.cardtemp {
    font-size: 30px;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

.cardimg {
    position: relative;
    left: 0;
}