.bg-dark-blue {
    background-color: #1D3254 !important;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-gray {
    background-color: #A0A0A0 !important;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-gray {
     background-color: #C9CBCF !important;
}

.bg-black {
    background-color: #000000 !important;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.nav-black {
     background-color: #23262B !important;
}

.nav-dark-blue {
background-color: #263A5E !important;

}

.navbar {
    display: flex;
align-items: center;
}

.dropdown {
background-color: #D9D9D9;
border-radius: 30px;
height: 40px !important;
}

.airconditionscont, .customCard {
background-color: #79AABE !important;
border-radius: 18px;
font-weight: 600;
}


.airconditionscont {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px !important;
    margin-right: 20px !important;

}

.secondgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.splash {
    color: white;
    font-size: 40px;
}

.splash p {
    padding: 0px;
    margin: 0px;
}

.maintemp {
    font-size: 150px;
    display: flex;
    flex-direction: row;
}

.customCard {
width: 15em;
min-width: 190px;
height: 170px !important;
border-radius: 30px !important;
padding: 10px;
overflow: hidden;

}


.map {
    max-width: 100%;
}

.maingrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    max-width: 100%;
    position: relative;
}

.cardtemp {
    font-size: 30px;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

.cardimg {
    position: relative;
    left: 0;
}

form {
    display: flex;
    align-items: center !important;
}

.tinytemp {
font-size: 40px;
float: right;
display: flex;
align-items: center;
font-weight: normal;
}

.tiniertemp {
    font-size: 20px;
    padding: 10px;
}

.weekday {
    font-size: 20px;
}

@media (max-width: 1270px) {
.customCard {
width: 12em;
height: 170px !important;
border-radius: 30px !important;
padding: 10px;
}

.airconditionscont {
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.airconditionscont img {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
}

.conditions {
width: clamp(12rem, 90vw, 40rem);
padding: 0px;
margin: 0px;
font-size: clamp(1rem, 1vw, 2.5rem);

}
}

@media (max-width: 1100px) {
.mapParent, .mapP {
display:none;
}
.airconditionscont {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
}